{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Over{% endblock %}

{% block content %}

<div class="container main_container">
	<div class="row">
		<div class="col-xs-12 box">
			<h2>Over BitWatch</h2>
			<p>BitWatch vergelijkt producten uit verschillende webshops dat producten aanbied tegen betaling van bitcoins. Op deze manier betaald u altijd de scherpste prijs voor het product!</p>
			<p>Beheert u een webshop dat zijn producten verkoopt tegen betaling van bitcoins? Dan kunt u de webshop gemakkelijk aanmelden, waarnaar ook uw webshop tussen de resultaten geplaatst wordt!</p>
		</div>
	</div>
</div>

{% endblock %}
