{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Over{% endblock %}

{% block content %}

<div class="container main_container">
	<div class="row" style="padding-top: 25px; padding-bottom: 50px;">
		<div class="col-xs-12">
			<h2>Over BitWatch</h2>
			<p>BitWatch vergelijkt producten uit verschillende webshops dat producten aanbied tegen betaling van bitcoins. Op deze manier betaald u altijd de scherpste prijs voor het product!</p>
			<p>Beheert u een webshop dat zijn producten verkoopt tegen betaling van bitcoins? Dan kunt u de webshop gemakkelijk aanmelden, waarnaar ook uw webshop tussen de resultaten geplaatst wordt!</p>
		</div>
	</div>
</div>

<div class="fluid-container" style="background-color: white">
	<div style="border-top: 1px solid rgb(225,225,225); border-bottom: 1px solid rgb(225,225,225); padding: 50px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 style="margin-top: 0px">Het team</h2>
					<div class="team_container">
						<div class="col-sm-3">
							<div class="avatar"><img src="./static/images/mike.jpg" class="img-responsive img-circle" style=""></div>
							<div class="name">Mike van de Ven</div>
						</div>
						<div class="col-sm-3">
							<div class="avatar"><img src="./static/images/roald.jpg" class="img-responsive img-circle" style=""></div>
							<div class="name">Roald Nefs</div>
						</div>
						<div class="col-sm-3">
							<div class="avatar"><img src="./static/images/rick.jpg" class="img-responsive img-circle" style=""></div>
							<div class="name">Rick Wolthuis</div>
						</div>
						<div class="col-sm-3">
							<div class="avatar"><img src="./static/images/barbie.jpg" class="img-responsive img-circle" style=""></div>
							<div class="name">Barbie</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
