{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Pricewatch{% endblock %}

{% block content %}
<div class="container main_container">
    <h2>Bedrijven</h2>
	<div class="company_list row">
		{% for company in companies %}
			<div class="content_box">
				<h3><a href="{{ company.url }}" target="_blank">{{ company.name }}</a></h3> 
				<ul class="list-inline">
					<li data-toggle="tooltip" data-placement="bottom" style="margin-left: 15px" title="Het KvK-nummer van {{ company.name }}"><i class="fa fa-building"></i> KvK-nummer: {{ company.kvk }} </li>
				</ul>
				{{company.description}}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}