{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container main_container">
	<div class="row">
		<div class="col-xs-12">
            <div class="box">
                <h2>Dashboard</h2>
            </div>
		</div>
	</div>
</div>

<div class="container main_container">
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <ul>
                    <li>asd</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, minus optio cumque rem sequi ipsa molestiae in fuga iste quam temporibus laudantium recusandae vero mollitia voluptatem quod. Numquam, incidunt, quo.
            </div>
        </div>
    </div>
</div>

{% endblock %}
