{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="container main_container">
	<div class="row" style="padding-top: 25px; padding-bottom: 50px;">
		<div class="col-xs-12">
			<h2>Welkom bij BitWatch!</h2>
			<p style="font-size: 15px">
				Wij van Bitwatch bieden een pricewatch speciaal voor producten die te betalen zijn met bitcoin. Bitcoin is een vorm van elektronsich geld.
				Het was een van de eerste zogenoemde cryptocurrency beter bekend als cryptografisch geld. Het grootste voordeel van bitcoin is dat het een volledig gedecentraiseerd valuta is. 
				Er zijn geen partijen die veel invloed hebben op de koers. 			
			</p>
			<p style="font-size: 15px">
			Bitwatch is een website waar u uw producten kan aanbieden en tegen andere bedrijven kan concurrenen door uw producten in onze database te plaatsen. Het enige wat u moet doen is 
een account aanmaken en uw producten zelf toevoegen. De producten komen dan automatisch in de pricewatch te staan. Indien u met uw product boven aan wilt staan is dit mogelijk door,
deze diensten aan te schaffen. Als de betaling is gevalideerd komt u product automatisch bovenaan te staan.

			</p>
		</div>
	</div>
</div>
<div class="fluid-container" style="background-color: white">
	<div class="row" style="border-top: 1px solid rgb(225,225,225); border-bottom: 1px solid rgb(225,225,225); padding: 50px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<img src="./static/images/bitcomp.jpg" class="img-responsive" style="max-height: 300px; width: auto">
				</div>
				<div class="col-xs-8">
					<h2 style="margin-top: 0px">21 BITCOIN COMPUTER</h2>
					<p>Bij Bitwatch maken we gebruik van de 21 Bitcoin computer als payment service. Deze computer bevat de volledige Bitcoin blockchain en staat klaar om betalingen direct te verwerken!</p>
					<p>De 21 Bitcoin computer maakt gebruik van het betrouwebare 21.co netwerk, waardoor betalingen veilig en snel worden verwerkt.</p>
					<p style="font-size: 13px"><a href="https://21.co/buy/" target="_blank">Meer informatie over de 21 Bitcoin computer.</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
