{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Mijn Bedrijven{% endblock %}

{% block dashboard %}

<div class="company_list row">

<h2>Mijn Bedrijven <a href="#" class="btn btn-default btn-xs btn-verberg-producten pull-right">Verbergen</a></h2>



		<div class="product_collaps">
		{% for company in companies %}
			<div class="content_box">
				<h5><a href="{{ company.url }}" target="_blank">{{ company.name }}</a></h5>
                <ul class="list-inline">
                <li class="pull-right"><a href="{%url 'my_company' company.id %}" class="btn btn-default btn-xs">Bewerken</a></h2> </li>




                    <li data-toggle="tooltip" data-placement="bottom" class="pull-left  "  style="margin-left: 15px" title="{{ product.kvk }}"><i class="fa fa-building"></i>  {{ company.kvk}} </li>
                    <li data-toggle="tooltip" data-placement="bottom" class="pull-left fa fa-info" style="margin-left: 15px" title="{{ product.owner }}"> {{company.owner}}</li>
                


                </ul>
			</div>
		{% endfor %}
		</div>

<div class="panel panel-default">
    <div class="panel-heading">Nieuw bedrijf toevoegen</div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-default">Toevoegen</button>
        </form>
    </div>
</div>


{% endblock %}
