{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Mijn Bedrijven{% endblock %}

{% block dashboard %}

<h2>Mijn Bedrijven</h2>

<div class="company_list row">
	<h2>Bedrijven <a href="#" class="btn btn-primary btn-xs btn-verberg-producten">Verbergen</a></h2>
	
		<div class="product_collaps">
		{% for company in companies %}
			<div class="content_box">
				<h5><a href="{{ company.url }}" target="_blank">{{ company.name }}</a></h5> 
			</div>
		{% endfor %}
		</div>

<div class="panel panel-default">
    <div class="panel-heading">Nieuw bedrijf toevoegen</div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-default">Toevoegen</button>
        </form>
    </div>
</div>


{% endblock %}
