{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Mijn Bedrijf{% endblock %}

{% block dashboard %}

<div class="panel panel-default">
    <div class="panel-heading">{{ company.name }} - Bewerken</div>

    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-default">Bewerken</button>


        </form>
    </div>
</div>

{% endblock %}
