{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Mijn Producten{% endblock %}

{% block dashboard %}



<div class="company_list row">
	<h2>Mijn Producten <a href="#" class="btn btn-primary btn-xs btn-verberg-producten">Verberg producten</a></h2>
	
		<div class="product_collaps">
		{% for product in products %}
			<div class="content_box">
				<h5><a href="{{ company.url }}" target="_blank">{{ product.name }}</a></h5> 
				<ul class="list-inline">
					<li data-toggle="tooltip" data-placement="bottom" style="margin-left: 15px" title="{{ product.name }}"><i class="fa fa-btc"></i>  {{ product.price }} </li>
				</ul>
			</div>
		{% endfor %}
		</div>
<div class="panel panel-default">
    <div class="panel-heading">Nieuw product toevoegen</div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-default">Toevoegen</button>
        </form>
    </div>
</div>

{% endblock %}
