{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Pricewatch{% endblock %}

{% block content %}
<div class="container main_container">
    <div class="row">
        <div class="col-md-3 content_box filter_menu">
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Trefwoorden</div>
                <div class="content">
                    <form>
                        <input type="text" class="form-control input-sm input-trefwoorden" placeholder="Vul trefwoorden in">
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Prijs</div>
                <div class="content">
                    <div id="prijs-slider"></div>
                    Prijs range: <span style="font-size: 12px; font-weight: bold;">m</span><i class="fa fa-btc"></i> <input type="text" id="amount" readonly style="border:0; font-weight:bold; width: 50%">
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Categorie</div>
                <div class="content">
                    {% for category in categories %}
						<div class="checkbox">
							<label><input type="checkbox" name="filter_categorie[]" value="{{ category.id }}">{{ category.name }}</label>
						</div>
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Bedrijf</div>
                <div class="content">
                    {% for company in companies %}
						<div class="checkbox">
							<label><input type="checkbox" name="filter_company[]" value="{{ company.id }}">{{ company.name }}</label>
						</div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="row product_list">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	var product_json = '{{ products_json }}';
</script>
{% endblock %}
