{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Pricewatch{% endblock %}

{% block content %}
<div class="container main_container">
    <div class="row">
        <div class="col-md-3 content_box filter_menu">
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Trefwoorden</div>
                <div class="content">
                    <form>
                        <input type="text" class="form-control input-sm input-trefwoorden" placeholder="Vul trefwoorden in">
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Prijs</div>
                <div class="content">
                    <div id="prijs-slider"></div>
                    Prijs range: <span style="font-size: 12px; font-weight: bold;">m</span><i class="fa fa-btc"></i> <input type="text" id="amount" readonly style="border:0; font-weight:bold; width: 50%">
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Categorie</div>
                <div class="content">
                    {% for category in categories %}
                        {{ category.name }} - {{ category.id }}
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Bedrijf</div>
                <div class="content">
                    {% for company in companies %}
                        {{ company.name }} - {{ company.id }}
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-md-8 col-md-offset-1">
            <div class="row product_list">

                <script>
                {{ products_json }}
                </script>

                <div class="col-xs-12 content_box product clearfix">
                    <div class="thumb pull-left" style="background-image: url('{% static 'images/thumbnail.jpeg' %}');"></div>

                    <div class="content pull-left">
                        <div class="title">Een vierkante televisie</div>
                        <div class="cat"><i class="fa fa-tag"></i> Televisies</div>
                        <div class="desc">Dit is een mooie, maar vierkante TV. Naast een kapot scherm, mist het power knopje ook.</div>
                    </div>

                    <div class="price pull-right">
                        <p><span class="btc"><i class="fa fa-btc"></i> 0.00123456</span></p>
                        <p><span class="eur"><i class="fa fa-eur"></i> 0.0012</span></p>
                        <p><span class="view"><i class="fa fa-eye" aria-hidden="true"></i> 10</p>
                    </div>
                </div>



                <div class="col-xs-12 content_box product clearfix">
                    <div class="thumb pull-left" style="background-image: url('{% static 'images/thumbnail.jpeg' %}');"></div>

                    <div class="content pull-left">
                        <div class="title">Een vierkante televisie</div>
                        <div class="cat"><i class="fa fa-tag"></i> Televisies</div>
                        <div class="desc">Dit is een mooie, maar vierkante TV. Naast een kapot scherm, mist het power knopje ook.</div>
                    </div>

                    <div class="price pull-right">
                        <p><span class="btc"><i class="fa fa-btc"></i> 0.00123456</span></p>
                        <p><span class="eur"><i class="fa fa-eur"></i> 0.0012</span></p>
                        <p><span class="view"><i class="fa fa-eye" aria-hidden="true"></i> 10</p>
                    </div>
                </div>


                <div class="col-xs-12 content_box product clearfix">
                    <div class="thumb pull-left" style="background-image: url('{% static 'images/thumbnail.jpeg' %}');"></div>

                    <div class="content pull-left">
                        <div class="title">Een vierkante televisie</div>
                        <div class="cat"><i class="fa fa-tag"></i> Televisies</div>
                        <div class="desc">Dit is een mooie, maar vierkante TV. Naast een kapot scherm, mist het power knopje ook.</div>
                    </div>

                    <div class="price pull-right">
                        <p><span class="btc"><i class="fa fa-btc"></i> 0.00123456</span></p>
                        <p><span class="eur"><i class="fa fa-eur"></i> 0.0012</span></p>
                        <p><span class="view"><i class="fa fa-eye" aria-hidden="true"></i> 10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
